{% extends "layouts/base.twig" %}

{% block title %}
	Forgot Password
{% endblock %}

{% block content %}
	<div class="login-box">
		<div class="login-logo">
			<a href="{{ base_url() }}">
				{{ getenv('CI_NAME') }}
			</a>
		</div>

		<div class="login-box-body">
			<p class="login-box-msg">{{ sprintf(lang('forgot_password_subheading'), identity_label) }}</p>

			{{ form_open('auth/forgot_password') }}

			<div class="form-group has-feedback">
				{{ form_input(identity) }}
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>

			<div class="text-danger">
				{{ message|raw }}
			</div>

			{{ form_submit('submit', lang('forgot_password_submit_btn'), 'class="btn btn-primary btn-block btn-flat"') }}

			{{ form_close() }}

		</div>

	</div>
{% endblock %}
